doctype html
html
	head
		title  Todo app - Login
		link(rel='stylesheet', href='/css/home.css', type='text/css')
	body
		div(id='app')
			h1(id='header') ToDo Task
			div(id='todo-list')
				// TODO: Create a icon for action add
			button(id='button-editor') +
			div(id='editor')
				form(id='editor-form')
					input(id='titulo', placeholder='Titulo')
					input(id='description', placeholder='Descripcion')
					// TODO: Create menu component to use in the menu of priority
