doctype html
html
	head
		title Todo app - Login
		link(rel='stylesheet', href='css/login.css')
	body
		div(id='greeting')
		form(id='form-login')
			div(class='title') Login
			label(class='field') User
				input
			label(class='field') Password
				input
			button(type='submit') ingresar
