doctype html
html
	head
		title Todo app - Login
	body
		div(id='greeting')
		form(id='form-login')
			div Login
			label User
				input
			label Password 
				input
			button(type='submit') ingresar
