doctype html
html
	head
		title Todo app - Login
		link(rel='stylesheet', href='css/login.css')
		script(src='js/login.js')
	body
		div(id='greeting')
		form(id='form-login', action='/login', method='post')
			div(class='title') Login
			label(class='field') email
				input(name='email' type='email')
			label(class='field') Password
				input(name='password' type='password')
			input(type='submit' class='button' value='ingresar')
