div(id='editor')
	form(id='editor-form')
		input(id='titulo', placeholder='Titulo')
			input(id='description', placeholder='Descripcion')
				// TODO: Create menu component to use in the menu of priority
